.addon-name
  color: rgba(255, 255, 255, 0.4)
  font-size: 0.75em
  text-transform: uppercase

#copy-code-button.mdl-button--fab
  background-color: unquote("rgb(#{$color-primary})")
  color: unquote("rgb(#{$color-white})")
  margin-top: -27px // TODO: Use a variable
  position: absolute
  right: -27px // TODO: Use a variable
  transition: background-color .35s
  z-index: 1

  .check
    opacity: 0

  &.copy-code-button-copied
    background-color: unquote("rgb(#{$palette-green-600})")

    .check
      opacity: 1

    .copy
      opacity: 0

  .material-icons
    transition: opacity .35s

.cover
  background: unquote("rgb(#{$color-accent})")
  color: unquote("rgb(#{$color-accent-contrast})")
  height: 50%
  text-align: center
  width: 20%

  h2
    justify-content: center
    display: flex
    font-size: 5em
    flex-direction: column
    height: 100%
    margin: 0

.demo-code-snippet
  background: unquote("rgb(#{$color-accent})")
  font-size: .7em
  line-height: 1.5em
  padding: $grid-phone-gutter
  position: relative

  h1
    @extend p
    font-weight: bold
    text-transform: uppercase

  pre
    margin: 0
    overflow-x: auto

.demo-config
  display: flex
  flex-direction: column
  overflow-y: visible // Otherwise, the copy button gets cut off

  .mdl-switch
    margin-bottom: $input-text-vertical-spacing

.demo-config-form
  flex:
    grow: 1
    shrink: 1
  overflow-y: auto
  padding: $grid-phone-gutter

  h1
    @extend p
    font-weight: bold
    text-transform: uppercase

  @media (min-width: $grid-tablet-breakpoint)
    padding: $grid-tablet-gutter

  @media (min-width: $grid-desktop-breakpoint)
    padding: $grid-desktop-gutter

.demo-config-form-docs-link
  float: right

.header-link
  margin-left: 2em
  opacity: .5
  transition: opacity .35s

  &.github
    width: 30px

  &:hover
    opacity: 1

  img
    width: 100%

  &.npm
    width: 50px

main.mdl-layout__content
  display: flex
  flex-direction: column
  padding: 3em 0
  position: relative

  > .ember-view
    flex-grow: 1

  footer
    margin: 0 auto
    max-width: 400px
    text-align: center
    width: 80%
