<div class="mdl-layout
            mdl-js-layout
            mdl-layout--fixed-header">

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">
        Demo
        <span class="addon-name">ember-cli-jquery-coverflow</span>
      </span>
      <div class="mdl-layout-spacer"></div>

      <form>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {{input type="text"
                  value=numberOfCovers
                  classNames="mdl-textfield__input"}}
          <label class="mdl-textfield__label">Number of covers</label>
        </div>
      </form>

      <div class="mdl-layout-spacer"></div>

      <a href="https://www.npmjs.com/package/ember-cli-jquery-coverflow" target="_blank" class="header-link npm">
        <img src="assets/images/npm.svg" alt="GitHub logo">
      </a>

      <a href="https://github.com/jessepinho/ember-cli-jquery-coverflow" target="_blank" class="header-link github">
        <img src="assets/images/github.svg" alt="GitHub logo">
      </a>
    </div>
  </header>

  <main class="mdl-layout__content">
    {{#jquery-coverflow enableWheel=enableWheel
                        innerAngle=innerAngle
                        innerScale=innerScale
                        observeForRefresh=observeForRefresh
                        outerAngle=outerAngle
                        outerScale=outerScale}}
      {{#each covers as |cover|}}
        {{#jquery-coverflow-cover classNames="mdl-shadow--4dp"}}
          <h2>
            <span>{{cover}}</span>
          </h2>
        {{/jquery-coverflow-cover}}
      {{/each}}
    {{/jquery-coverflow}}
  </main>
</div>
